* {
  box-sizing: border-box
}

body {
  margin: 0; 
  padding: 0;
  background-image: url(assets/anime.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
}

.main {
  display: flex;
  width: 100%;
  height: 100vh;
}

.content {
  text-align: center;
  width: 100%;
  margin: auto;
}

.name {
  font-size: 2.4em
}

.description {
  color: #999;
  text-shadow: 0 0 1px #fff;
}

.btn {
  border: 1px solid #000;
  border-radius: 150px;
  padding: 8px 16px;
  font-size: 22px;
  display: inline-flex;
  text-decoration: none;
  justify-content: center;
  color: #000;
  align-items: center;
}